<template name="home">


  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    {{#each builds}}
      {{> build }}
    {{/each}}
  </div>

</template>


<template name="build">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{matchId}}" aria-expanded="false" aria-controls="collapse{{matchId}}">
          <span style="font-size:20pt; float:left">#{{rank}}&nbsp;</span>
          <img src="http://ddragon.leagueoflegends.com/cdn/5.6.2/img/champion/{{championImgName championId}}" title="{{championId}}"/>
          &nbsp;&nbsp;
          <img src="http://ddragon.leagueoflegends.com/cdn/5.6.2/img/item/{{stats.item0}}.png" />
          <img src="http://ddragon.leagueoflegends.com/cdn/5.6.2/img/item/{{stats.item1}}.png" />
          <img src="http://ddragon.leagueoflegends.com/cdn/5.6.2/img/item/{{stats.item2}}.png" />
          <img src="http://ddragon.leagueoflegends.com/cdn/5.6.2/img/item/{{stats.item3}}.png" />
          <img src="http://ddragon.leagueoflegends.com/cdn/5.6.2/img/item/{{stats.item4}}.png" />
          <img src="http://ddragon.leagueoflegends.com/cdn/5.6.2/img/item/{{stats.item5}}.png" />
          &nbsp;&nbsp;
          <img src="http://ddragon.leagueoflegends.com/cdn/5.6.2/img/item/{{stats.item6}}.png" />
          &nbsp;&nbsp;
          <img src="http://ddragon.leagueoflegends.com/cdn/5.6.2/img/spell/{{spellImgName spell1Id}}" />
          <img src="http://ddragon.leagueoflegends.com/cdn/5.6.2/img/spell/{{spellImgName spell2Id}}" />

          <span style="font-size:20pt; float:right">{{stats.kills}} / {{stats.deaths}} / {{stats.assists}}</span>
          
        </a>
      </h4>
    </div>
    <div id="collapse{{matchId}}" class="collapse " role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">


        <div class="row text-center">
          <div style="margin: 0 auto;width: 75%;">
            <h3>Runes</h3>
              {{#each runes}}
              <div class="col-md-2" >
                <div><img src="http://ddragon.leagueoflegends.com/cdn/5.6.2/img/rune/{{runeImgName runeId}}" title="{{runeTitle runeId}}"/></div>
                <div><h4>{{rank}}X</h4></div>
                <div><h5>{{runeName runeId}}</h5></div>
                <div style="min-height:40px"><h6>{{runeDesc runeId}}</h6></div>
                
              </div>
              {{/each}}
          </div>
        </div>
        
        <div class="row text-center">
          <h3>Masteries</h3>
          <iframe src="http://leaguecraft.com/masteries/iframe/?points={{masteryCode masteries}}" width="770" height="525" style="overflow: hidden;"></iframe>
        </div>
        
        <div class="row">
          <div style="margin: 0 auto;width: 85%;">
            <h3 class="text-center">Skills Order</h3>
  
            {{#each spells}}
                <img src="http://ddragon.leagueoflegends.com/cdn/5.6.2/img/spell/{{image.full}}" />
                    <span style="font-size:20pt;font-family:monospace;">&nbsp;{{Q}}&nbsp;</span>

                
                {{#each showSkillSlots}}
                
                  {{#if show}}
                    <span style="font-size:20pt;background-color:green">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    &nbsp;&nbsp;
                  {{else}}
                    <span style="font-size:20pt;background-color:black">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    &nbsp;&nbsp;
                  {{/if}}
                
                {{/each}}
                <br/>
            {{/each}}
          </div>
        </div>

        <div class="row text-center">
          <h3>Item Purchases Order</h3>
          {{#each purchases}}
          <a href="http://lolbuilder.net/item/{{itemTooltipName itemId}}">
            <img src="http://ddragon.leagueoflegends.com/cdn/5.6.2/img/item/{{itemId}}.png"/>
            </a>
          {{/each}}
        </div>
        
      </div>
    </div>
  </div>
  </template>